APP_BASE_URL=https://uninetworks.works
ADMIN_FULL_NAME=Administrator
ADMIN_USERNAME=Admin
ADMIN_PASSWORD=change-this-before-deploy
AUTO_BACKUP_ENABLED=true
AUTO_BACKUP_HOUR=3
AUTO_BACKUP_INTERVAL_MS=10800000
AUTO_BACKUP_KEEP_DAYS=30
LOGIN_MAX_ATTEMPTS=5
LOGIN_LOCK_DURATION_MS=900000
SESSION_TTL_MS=28800000
MAX_ATTACHMENT_BYTES=15728640
